package com. company;
public class CWH12V_Practice_Set_Problem06 {
    //  Exercise 1 To find the Area Of Circle
    public static void main(String[] args) {
    int D = 20 ;
    float pi = 3.14f;

    System.out.println("Area Of Circle is");

    float area = pi * D * D ;

    System.out.println(area);

    }
}
